<nb-card class="inline-form-card">
  <nb-card-header>Create new todo</nb-card-header>
  <nb-card-body>
    <div class="form-inline">
      <input #newTodo placeholder="Describe what you have to do here !"
             nbInput fullWidth
             (keyup.enter)="createNewTodo(newTodo.value); newTodo.value='' ">
    </div>
  </nb-card-body>
</nb-card>

<nb-card class="inline-form-card">
  <nb-card-header>Todo list</nb-card-header>
  <nb-card-body>
    <div *ngFor="let todo of listTodoDTO">
      <todo [todo]="todo"></todo>
    </div>
  </nb-card-body>
</nb-card>
